@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Oscar Sosa</h1>
    <h2>Soy desarrollador full stack especializado en tecnologías .Net y Javascript </h2>
    
    <img id="foto" src="~/Imagenes/foto.jpg" alt="foto de oscar" />

</div>
